body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

.card {
  background: #111;
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  margin: 20px;
}

span {
  color: #febe01;
}

button{
  padding: 10px;
  background-color: #febe01;
  border-radius: 6px;
  color: #332200;
  text-decoration: none;
}

p {
  color: #b2b2b2;
}